<div class="row">
  <div class="col-md-6">
    <h1>Person Detail</h1>
    <hr>
    <h4>First name: <span class="fw-lighter"> <%= @person.first_name %> </span></h4>
    <h4>Last name: <span class="fw-lighter"> <%= @person.last_name %> </span></h4>
  </div>
  <div class="col-md-6">
    <%= button_to 'Remove', person_path(@person), method: 'delete', class: 'dropdown-item', class: 'btn btn-danger float-end m-1' %>
    <%= link_to "Edit this person", edit_person_path(@person), class: 'btn btn-success float-end m-1' %> 
  </div>
</div>


