<div class="row py-4">
  <h2 class="text-success ">WELCOME TO SHA</h2>
</div>

<div class="row pt-3">
  <div class="col-md-6">
    <%= render "unassigned_people", unassigned_people: @unassigned_people %>
  </div>
  <div class="col-md-6">
    <%= render "last_doctors", last_doctors: @last_doctors %>
  </div>
</div>