<div id="<%= dom_id patient %>">
  <p>
    <strong>Upi:</strong>
    <%= patient.upi %>
  </p>

  <p>
    <strong>Person:</strong>
    <%= patient.person.full_name %>
  </p>

  <p>
    <strong>Doctor:</strong>
    <%= patient.doctor.person.full_name %>
  </p>

</div>
