<div class="row">
  <div class="col-md-6">
  <h1>Doctor <%= @doctor.person.full_name %></h1>
    <label for="">NPI</label>
    <h4><%= @doctor.npi %></h4>
  </div>
  <div class="col-md-6">
    <%= button_to 'Remove', doctor_path(@doctor), method: 'delete', class: 'dropdown-item', class: 'btn btn-danger float-end m-1' %>
    <%= link_to "Edit this doctor", edit_doctor_path(@doctor), class: 'btn btn-success float-end m-1' %>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <% if @doctor.status_inactive? %>
      <p style="color: red;text-align:center" >this doctor is inactive.</p>
    <% end %>
  </div>
</div>

