<h1>Doctor <%= @doctor.person.full_name %></h1>
<label for="">NPI</label>
<h4><%= @doctor.npi %></h4>
  <%= link_to "Edit this doctor", edit_doctor_path(@doctor) %> |
  <%= link_to "Back to doctors", doctors_path %>
<% if @doctor.status_leave? %>
  <p style="color: red" >This doctor left.</p>
<% end %>
<% if @doctor.status_retire? %>
  <p style="color: red" > This doctor is retired. </p>
<% end %>


